<div ng-controller="MainCtrl">
    <div class="inputs row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addParticipant()">+</button>
                </span>
                <input type="text" ng-minlength="1" class="form-control" autofocus placeholder="Participant Name" ng-model="pName" ui-keypress="{13:'pKeyPressed($event)'}"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addCategory()">+</button>
                </span>
                <input type="text" ng-minlength="1" class="form-control" placeholder="Category" ng-model="cName" ui-keypress="{13:'cKeyPressed($event)'}">
                <span class="input-group-btn" style="width: 100px;">
                    <select class="form-control" ng-model="cType" ng-options="c.type for c in categoryOptions"></select>
                </span>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Participant</th>
            <th ng-repeat="category in categories">{{ category.name }} ({{category.type }})</th>
        </tr>
        <tr ng-repeat="participant in participants">
            <td>{{ $index }}</td>
            <td>{{ participant.name }}</td>
            <td ng-repeat="category in participant.categories">
                <input type="number" ng-change="save()" ng-model="category.value" min="0" max="{{category.maxValue}}"/>
            </td>
        </tr>
    </table>

    <button class="btn btn-success" type="button" ng-click="finish()">Finish Competition</button>
    <button class="pull-right btn btn-danger" type="button" ng-click="clearAll()">Clear All</button>

    <div class="finishMsg alert alert-success" ng-show="showWinner">{{ winnerMsg }}</div>

</div>