<div ng-controller="MainCtrl">
    <div class="inputs row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addParticipant()">+</button>
                </span>
                <input type="text" class="form-control" autofocus placeholder="Add Participant" ng-model="pName" ui-keypress="{13:'pKeyPressed($event)'}"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addCriterion()">+</button>
                </span>
                <input type="text" class="form-control" placeholder="Add Criterion" ng-model="cName" ui-keypress="{13:'cKeyPressed($event)'}">
                <span class="input-group-btn" style="width: 100px;">
                    <select class="form-control" ng-model="cType" ng-options="c.type for c in criteriaOptions"></select>
                </span>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Participant</th>
            <th ng-repeat="criterion in criteria">{{ criterion.name }} ({{criterion.type }})</th>
        </tr>
        <tr ng-repeat="participant in participants">
            <td>{{ $index }}</td>
            <td>{{ participant.name }}</td>
            <td ng-repeat="criterion in participant.criteria">
                <input class="criterionInput" type="number" ng-change="save()" ng-model="criterion.value" min="1" max="{{criterion.maxValue}}"/>
            </td>
        </tr>
    </table>

    <div class="controls">
        <button class="btn btn-success" ng-disabled="disableFinish" type="button" ng-click="finish()">Finish Competition</button>
        <button class="pull-right btn btn-danger" ng-disabled="disableClearAll" type="button" ng-click="clearAll()">Clear All</button>
    </div>

    <div class="award" ng-show="showAward">
        <img class="awardCup" src="../images/award/trophy_gold.png" alt="Trophy"/>
        <h1 class="awardMsg">{{ winnerMsg }}</h1>
        <button class="btn btn-success awardOk" type="button" ng-click="closeAward()">OK</button>
    </div>

    <div class="overlay" ng-show="showOverlay"></div>
    <audio id="fireworks">
        <source src="../sounds/fireworks.mp3" type='audio/mpeg; codecs="mp3"'>
    </audio>
</div>